### Import libraries and Covid-19 data

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv("/home/andy/Documents/PythonExercises/Analytics_Report/data/Covid19Casos.csv")

### Removing unnecessary colums, only staying residencia_provincia_nombre, Count and fecha_diagnostico

In [4]:
list(df.columns)

['id_evento_caso',
 'sexo',
 'edad',
 'edad_años_meses',
 'residencia_pais_nombre',
 'residencia_provincia_nombre',
 'residencia_departamento_nombre',
 'carga_provincia_nombre',
 'fecha_inicio_sintomas',
 'fecha_apertura',
 'sepi_apertura',
 'fecha_internacion',
 'cuidado_intensivo',
 'fecha_cui_intensivo',
 'fallecido',
 'fecha_fallecimiento',
 'asistencia_respiratoria_mecanica',
 'carga_provincia_id',
 'origen_financiamiento',
 'clasificacion',
 'clasificacion_resumen',
 'residencia_provincia_id',
 'fecha_diagnostico',
 'residencia_departamento_id',
 'ultima_actualizacion']

In [12]:
columns_del = ['id_evento_caso',
 'sexo',
 'edad',
 'edad_años_meses',
 'residencia_pais_nombre',
 'residencia_departamento_nombre',
 'carga_provincia_nombre',
 'fecha_inicio_sintomas',
 'fecha_apertura',
 'sepi_apertura',
 'fecha_internacion',
 'cuidado_intensivo',
 'fecha_cui_intensivo',
 'fallecido',
 'asistencia_respiratoria_mecanica',
 'carga_provincia_id',
 'origen_financiamiento',
 'clasificacion',
 'clasificacion_resumen',
 'residencia_provincia_id',
 'fecha_diagnostico',
 'residencia_departamento_id',
 'ultima_actualizacion']

df = df.drop(columns=columns_del)
df = df.dropna()
df.reset_index(drop=True, inplace=True)

      residencia_provincia_nombre fecha_fallecimiento
0                    Buenos Aires          2021-04-23
1                    Buenos Aires          2021-04-24
2                            CABA          2021-05-08
3                    Buenos Aires          2021-04-28
4                    Buenos Aires          2021-04-17
...                           ...                 ...
92689                        CABA          2021-04-18
92690                Buenos Aires          2020-05-31
92691                Buenos Aires          2021-04-18
92692                    San Juan          2021-04-21
92693                Buenos Aires          2021-05-25

[92694 rows x 2 columns]

### Create column "year"

In [13]:
df["year"]=df["fecha_fallecimiento"].str[0:4]
#df2["year"]=df2["year"].astype("int")

<ipython-input-13-6892e05e9201>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year"]=df["fecha_fallecimiento"].str[0:4]

      residencia_provincia_nombre fecha_fallecimiento  year
0                    Buenos Aires          2021-04-23  2021
1                    Buenos Aires          2021-04-24  2021
2                            CABA          2021-05-08  2021
3                    Buenos Aires          2021-04-28  2021
4                    Buenos Aires          2021-04-17  2021
...                           ...                 ...   ...
92689                        CABA          2021-04-18  2021
92690                Buenos Aires          2020-05-31  2020
92691                Buenos Aires          2021-04-18  2021
92692                    San Juan          2021-04-21  2021
92693                Buenos Aires          2021-05-25  2021

[92694 rows x 3 columns]

### Create new DF only with the rows beloging to the year 2021

In [14]:
df = df.loc[(df['year'] == "2021")]
df = df.sort_values(['residencia_provincia_nombre', 'fecha_fallecimiento'], ascending=[1,0])
df.reset_index(drop=True, inplace=True)

      residencia_provincia_nombre fecha_fallecimiento  year
0                    Buenos Aires          2021-05-31  2021
1                    Buenos Aires          2021-05-31  2021
2                    Buenos Aires          2021-05-31  2021
3                    Buenos Aires          2021-05-31  2021
4                    Buenos Aires          2021-05-31  2021
...                           ...                 ...   ...
37836                     Tucumán          2021-01-03  2021
37837                     Tucumán          2021-01-03  2021
37838                     Tucumán          2021-01-02  2021
37839                     Tucumán          2021-01-01  2021
37840                     Tucumán          2021-01-01  2021

[37841 rows x 3 columns]

### Create new DF with the Count column

In [15]:

#https://stackoverflow.com/questions/59631533/pandas-counting-rows-with-dates
#filter = df4["residencia_provincia_nombre"]=="CABA"
cnt = df.groupby(['fecha_fallecimiento','residencia_provincia_nombre']).size().rename('Count')
result = df.drop_duplicates(subset=['fecha_fallecimiento','residencia_provincia_nombre'])\
    .merge(cnt, left_on=['fecha_fallecimiento','residencia_provincia_nombre'], right_index=True)
df = result.sort_values('fecha_fallecimiento',ascending=False)

      residencia_provincia_nombre fecha_fallecimiento  year  Count
0                    Buenos Aires          2021-05-31  2021     12
33775                    San Luis          2021-05-31  2021      2
33413                    San Juan          2021-05-31  2021      7
25304                      Chubut          2021-05-31  2021      2
20318                        CABA          2021-05-31  2021      5
...                           ...                 ...   ...    ...
31382                     Mendoza          2021-01-01  2021      1
37285            Tierra del Fuego          2021-01-01  2021      1
26229                  Corrientes          2021-01-01  2021      9
29795                    La Pampa          2021-01-01  2021      4
37839                     Tucumán          2021-01-01  2021      2

[3025 rows x 4 columns]

In [18]:
#EXAMPLE TO COUNT ALL CASES
#filter2 = df["residencia_provincia_nombre"]=="CABA"
#cntCABA2 = df.groupby('fecha_diagnostico').size().rename('Count')
#cntBA = df.groupby('fecha_fallecimiento').size().rename('Count')
#result2 = df.drop_duplicates(subset='fecha_fallecimiento')\
    #.merge(cntBA, left_on='fecha_fallecimiento', right_index=True)
#result2.sort_values('fecha_fallecimiento',ascending=False).head(10)

      residencia_provincia_nombre fecha_fallecimiento  year  Count_x  Count_y
0                    Buenos Aires          2021-05-31  2021       12       13
34230                  Santa Cruz          2021-05-30  2021        1       17
31681                     Neuquén          2021-05-29  2021        2       19
34233                  Santa Cruz          2021-05-28  2021        2       19
27915                  Entre Ríos          2021-05-27  2021        8       21
28717                     Formosa          2021-05-26  2021        9       22
32961                       Salta          2021-05-25  2021        8       23
30034                     Mendoza          2021-05-24  2021       18       22
32291                   Río Negro          2021-05-23  2021        9       22
37303                     Tucumán          2021-05-22  2021        3       23

### Moving "fecha_diagnostivo" to the first column

In [19]:
cols = list(df.columns)
cols

def re_lista(x,y):
    l1 = x.copy()
    i1 = x.index(y)
    el1 = [l1[i1]]
    l1.remove(el1[0])
    return el1 + l1

In [23]:
df = df[re_lista(cols,'fecha_fallecimiento')]
df.tail()

      fecha_fallecimiento residencia_provincia_nombre  year  Count
31382          2021-01-01                     Mendoza  2021      1
37285          2021-01-01            Tierra del Fuego  2021      1
26229          2021-01-01                  Corrientes  2021      9
29795          2021-01-01                    La Pampa  2021      4
37839          2021-01-01                     Tucumán  2021      2

In [26]:
#https://stackoverflow.com/questions/38067704/how-to-change-the-datetime-format-in-pandas

df['fecha_fallecimiento'] = pd.to_datetime(df.fecha_fallecimiento)
df['fecha_fallecimiento'] = df['fecha_fallecimiento'].dt.strftime('%m/%d/%y')

      fecha_fallecimiento residencia_provincia_nombre  year  Count
0                 5/31/21                Buenos Aires  2021     12
33775             5/31/21                    San Luis  2021      2
33413             5/31/21                    San Juan  2021      7
25304             5/31/21                      Chubut  2021      2
20318             5/31/21                        CABA  2021      5
...                   ...                         ...   ...    ...
31382              1/1/21                     Mendoza  2021      1
37285              1/1/21            Tierra del Fuego  2021      1
26229              1/1/21                  Corrientes  2021      9
29795              1/1/21                    La Pampa  2021      4
37839              1/1/21                     Tucumán  2021      2

[3025 rows x 4 columns]

In [28]:
#https://stackoverflow.com/questions/17298313/python-pandas-convert-rows-as-column-headers
#https://towardsdatascience.com/a-step-by-step-guide-to-pandas-pivot-tables-e0641d0c6c70
#https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas

df = df.pivot_table('Count', ['residencia_provincia_nombre'], 'fecha_fallecimiento')
df.rename(columns=lambda x: x.replace("/0", "/").lstrip("0"), inplace=True)
#df

fecha_fallecimiento,1/1/21,1/10/21,1/11/21,1/12/21,1/13/21,1/14/21,1/15/21,1/16/21,1/17/21,1/18/21,...,5/29/21,5/3/21,5/30/21,5/31/21,5/4/21,5/5/21,5/6/21,5/7/21,5/8/21,5/9/21
residencia_provincia_nombre,,,,,,,,,,,,,,,,,,,,,
Buenos Aires,75.0,96.0,99.0,95.0,76.0,93.0,99.0,95.0,86.0,100.0,...,64.0,285.0,60.0,12.0,248.0,250.0,263.0,269.0,297.0,256.0
CABA,13.0,15.0,14.0,16.0,22.0,10.0,23.0,20.0,22.0,20.0,...,26.0,72.0,22.0,5.0,43.0,56.0,49.0,52.0,46.0,50.0
Catamarca,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,3.0,NaN,NaN,NaN,1.0,1.0,2.0,1.0,4.0
Chaco,8.0,5.0,8.0,6.0,6.0,3.0,4.0,6.0,7.0,NaN,...,8.0,1.0,9.0,7.0,4.0,3.0,2.0,4.0,5.0,6.0
Chubut,5.0,7.0,10.0,6.0,10.0,6.0,5.0,2.0,1.0,11.0,...,2.0,4.0,3.0,2.0,2.0,1.0,5.0,3.0,3.0,3.0
Corrientes,9.0,NaN,1.0,2.0,1.0,1.0,4.0,6.0,3.0,2.0,...,NaN,4.0,NaN,NaN,5.0,3.0,2.0,4.0,4.0,3.0
Córdoba,7.0,8.0,8.0,14.0,8.0,5.0,12.0,3.0,7.0,7.0,...,19.0,23.0,12.0,4.0,16.0,16.0,14.0,13.0,13.0,8.0
Entre Ríos,1.0,4.0,5.0,9.0,5.0,7.0,9.0,6.0,9.0,6.0,...,8.0,4.0,6.0,NaN,5.0,5.0,6.0,8.0,4.0,6.0
Formosa,NaN,2.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,...,14.0,10.0,13.0,9.0,8.0,11.0,9.0,4.0,8.0,2.0
Jujuy,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,4.0,2.0,3.0,NaN,3.0,2.0
La Pampa,4.0,5.0,4.0,1.0,3.0,NaN,4.0,4.0,10.0,5.0,...,8.0,8.0,4.0,NaN,NaN,8.0,2.0,6.0,6.0,6.0
La Rioja,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,...,NaN,2.0,NaN,NaN,2.0,2.0,2.0,1.0,5.0,2.0
Mendoza,1.0,4.0,1.0,3.0,7.0,NaN,5.0,1.0,5.0,2.0,...,15.0,21.0,9.0,2.0,25.0,22.0,26.0,22.0,24.0,28.0
Misiones,NaN,NaN,4.0,3.0,4.0,4.0,3.0,2.0,3.0,3.0,...,1.0,NaN,3.0,NaN,2.0,NaN,1.0,1.0,NaN,4.0
Neuquén,4.0,8.0,2.0,2.0,1.0,3.0,7.0,4.0,2.0,2.0,...,2.0,4.0,NaN,NaN,4.0,3.0,4.0,2.0,2.0,5.0
Río Negro,10.0,4.0,6.0,5.0,6.0,4.0,3.0,3.0,3.0,3.0,...,16.0,4.0,8.0,3.0,5.0,3.0,4.0,10.0,8.0,8.0
SIN ESPECIFICAR,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN
Salta,1.0,NaN,NaN,1.0,NaN,1.0,NaN,7.0,NaN,2.0,...,7.0,5.0,2.0,NaN,3.0,5.0,4.0,3.0,2.0,2.0
San Juan,NaN,1.0,3.0,NaN,1.0,4.0,1.0,2.0,4.0,1.0,...,9.0,7.0,2.0,7.0,6.0,3.0,9.0,1.0,NaN,NaN
San Luis,1.0,1.0,2.0,1.0,3.0,NaN,2.0,NaN,NaN,NaN,...,5.0,8.0,7.0,2.0,4.0,6.0,7.0,9.0,8.0,7.0
Santa Cruz,3.0,1.0,5.0,5.0,4.0,8.0,6.0,5.0,4.0,9.0,...,2.0,3.0,1.0,1.0,4.0,5.0,4.0,2.0,2.0,1.0
Santa Fe,16.0,21.0,17.0,17.0,13.0,13.0,22.0,17.0,22.0,21.0,...,9.0,21.0,6.0,7.0,22.0,21.0,20.0,26.0,21.0,21.0
Santiago del Estero,NaN,NaN,1.0,3.0,1.0,NaN,NaN,4.0,NaN,1.0,...,9.0,2.0,6.0,5.0,NaN,3.0,3.0,1.0,7.0,6.0
Tierra del Fuego,1.0,3.0,1.0,2.0,4.0,3.0,2.0,4.0,3.0,2.0,...,2.0,2.0,NaN,NaN,NaN,NaN,3.0,1.0,1.0,1.0
Tucumán,2.0,2.0,2.0,NaN,2.0,3.0,4.0,3.0,3.0,3.0,...,NaN,5.0,NaN,NaN,10.0,5.0,5.0,9.0,10.0,10.0

In [29]:
df.to_csv('/home/andy/Documents/PythonExercises/Analytics_Report/data/Covid19Deaths_FINAL.csv')